@model EmployeeViewModel

<div class="m-1 mt-5 mt-md-1 m-md-5">
    <div class="tab-pane fade show position-relative" role="tabpanel">
        <div class="options small mt-2 float-right">
            <a class="edit border-0 bg-transparent text-secondary edit-employee" asp-action="Edit" asp-route-id="@Model.ID"><i class="fas fa-pen mr-1"></i>EDIT</a>
            <a class="delete ml-2 border-0 bg-transparent text-secondary delete-employee" asp-action="Delete" asp-route-id="@Model.ID"><i class="fas fa-trash-alt mr-1"></i>DELETE</a>
        </div>
        <div id="v-pills-@Model.ID-details">
            <span class="fs-6">
                @Model.Name
            </span>
            <ul class="list-unstyled small text-dark">
                <li class="mt-2 mb-2">Email: @Model.Email</li>
                <li class="mt-2 mb-2">
                    Mobile: +91 @Model.MobileNumber<br>
                    Landline: @Model.Landline
                </li>
                <li class="mt-2 mb-2">Website: @Model.Website</li>
                <li class="mt-2 mb-2">
                    Address: <span class="roboto" style="font-size: 0.85rem; white-space: pre-wrap;">@Model.Address</span>
                </li>
            </ul>
        </div>
    </div>
</div>
