@model EmployeeViewModel

<div asp-validation-summary="ModelOnly" class="text-danger invalid small"></div>
<div class="form-group">
    @Html.LabelFor(model => model.Name, new { @class = "form-label m-0 small fw-bold" })<br>
    @Html.EditorFor(model => model.Name, new { httpAttributes = new { @id = "Name" } })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger invalid small" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Email, new { @class = "form-label m-0 small fw-bold" })
    @Html.EditorFor(model => model.Email, new { @id = "Email" })
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger invalid small" })
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.MobileNumber, new { @class = "form-label m-0 small fw-bold" })
        @Html.EditorFor(model => model.MobileNumber, new { @id = "MobileNumber" })
        @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger invalid small" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Landline, new { @class = "form-label m-0 small fw-bold" })
        @Html.EditorFor(model => model.Landline, new { @id = "Landline" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Website, new { @class = "form-label m-0 small fw-bold" })
    @Html.EditorFor(model => model.Website, new { @id = "Website" })
    @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger invalid small" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Address, new { @class = "form-label m-0 small fw-bold" })
    @Html.TextAreaFor(model => model.Address, new { @id = "Address" })
    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger invalid small" })
</div>